In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("microize/newyork-yellow-taxi-trip-data-2020-2019")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'newyork-yellow-taxi-trip-data-2020-2019' dataset.
Path to dataset files: /kaggle/input/newyork-yellow-taxi-trip-data-2020-2019

In [2]:
import pandas as pd

df = pd.read_csv(path + "/yellow_tripdata_2020-03.csv")

/tmp/ipython-input-881030869.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + "/yellow_tripdata_2020-03.csv")

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.0,0.3,41.27,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [5]:
#Check Number of null value
df.isnull().sum()

VendorID                 37487
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          37487
trip_distance                0
RatecodeID               37487
store_and_fwd_flag       37487
PULocationID                 0
DOLocationID                 0
payment_type             37487
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [7]:
df.dropna(inplace= True)

In [8]:
# Check Number of Null value After Remove them
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [9]:
# Check Number of Duplicated value
df.duplicated().sum()

np.int64(0)

In [10]:
# Remove Duplicated Value
df.drop_duplicates(inplace= True)

In [11]:
# Convert tpep_pickup_datetime to Date
df['Date'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Min'] = df['Date'].dt.minute
df['Sec'] = df['Date'].dt.second

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,Date,Year,Month,Day,Hour,Min,Sec
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,...,0.3,27.80,2.5,2020-03-01 00:31:13,2020,3,1,0,31,13
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,...,0.3,3.80,0.0,2020-03-01 00:08:22,2020,3,1,0,8,22
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,...,0.3,11.75,2.5,2020-03-01 00:52:18,2020,3,1,0,52,18
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,...,0.3,10.56,2.5,2020-03-01 00:47:53,2020,3,1,0,47,53
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,...,0.3,24.35,2.5,2020-03-01 00:43:19,2020,3,1,0,43,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969800,2.0,2020-03-31 23:18:36,2020-03-31 23:21:26,5.0,0.52,1.0,N,236,236,2.0,...,0.3,7.80,2.5,2020-03-31 23:18:36,2020,3,31,23,18,36
2969801,2.0,2020-03-31 23:39:18,2020-03-31 23:50:17,5.0,2.35,1.0,N,263,166,1.0,...,0.3,17.16,2.5,2020-03-31 23:39:18,2020,3,31,23,39,18
2969802,2.0,2020-03-31 23:24:48,2020-03-31 23:31:54,5.0,1.33,1.0,N,140,162,1.0,...,0.3,13.00,2.5,2020-03-31 23:24:48,2020,3,31,23,24,48
2969803,2.0,2020-03-31 23:41:03,2020-03-31 23:44:23,6.0,0.87,1.0,N,140,229,1.0,...,0.3,11.44,2.5,2020-03-31 23:41:03,2020,3,31,23,41,3
2969804,2.0,2020-03-31 23:57:09,2020-04-01 00:06:52,6.0,2.80,1.0,N,140,100,1.0,...,0.3,15.30,2.5,2020-03-31 23:57:09,2020,3,31,23,57,9

In [15]:
# Convert tpep_dropoff_datetime to Dropoff_Date
df['Dropoff_Date'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['Dropoff_Year'] = df['Dropoff_Date'].dt.year
df['Dropoff_Month'] = df['Dropoff_Date'].dt.month
df['Dropoff_Day'] = df['Dropoff_Date'].dt.day
df['Dropoff_Hour'] = df['Dropoff_Date'].dt.hour
df['Dropoff_Min'] = df['Dropoff_Date'].dt.minute
df['Dropoff_Sec'] = df['Dropoff_Date'].dt.second

In [16]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,Hour,Min,Sec,Dropoff_Date,Dropoff_Year,Dropoff_Month,Dropoff_Day,Dropoff_Hour,Dropoff_Min,Dropoff_Sec
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,...,1,1,42,2020-03-01 01:01:42,2020,3,1,1,1,42
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,...,0,8,49,2020-03-01 00:08:49,2020,3,1,0,8,49
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,...,0,59,16,2020-03-01 00:59:16,2020,3,1,0,59,16
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,...,0,50,57,2020-03-01 00:50:57,2020,3,1,0,50,57
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,...,0,58,27,2020-03-01 00:58:27,2020,3,1,0,58,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969800,2.0,2020-03-31 23:18:36,2020-03-31 23:21:26,5.0,0.52,1.0,N,236,236,2.0,...,23,21,26,2020-03-31 23:21:26,2020,3,31,23,21,26
2969801,2.0,2020-03-31 23:39:18,2020-03-31 23:50:17,5.0,2.35,1.0,N,263,166,1.0,...,23,50,17,2020-03-31 23:50:17,2020,3,31,23,50,17
2969802,2.0,2020-03-31 23:24:48,2020-03-31 23:31:54,5.0,1.33,1.0,N,140,162,1.0,...,23,31,54,2020-03-31 23:31:54,2020,3,31,23,31,54
2969803,2.0,2020-03-31 23:41:03,2020-03-31 23:44:23,6.0,0.87,1.0,N,140,229,1.0,...,23,44,23,2020-03-31 23:44:23,2020,3,31,23,44,23
2969804,2.0,2020-03-31 23:57:09,2020-04-01 00:06:52,6.0,2.80,1.0,N,140,100,1.0,...,0,6,52,2020-04-01 00:06:52,2020,4,1,0,6,52

In [19]:
# Convert Decimal value to int value
columns_to_convert = ['VendorID', 'passenger_count', 'RatecodeID', 'PULocationID',
                     'DOLocationID', 'payment_type', 'trip_distance','Hour', 'Min', 'Sec',
                     'Dropoff_Year', 'Dropoff_Month', 'Dropoff_Day',
                     'Dropoff_Hour', 'Dropoff_Min', 'Dropoff_Sec']

df[columns_to_convert] = df[columns_to_convert].astype(int)

In [20]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,Hour,Min,Sec,Dropoff_Date,Dropoff_Year,Dropoff_Month,Dropoff_Day,Dropoff_Hour,Dropoff_Min,Dropoff_Sec
0,1,2020-03-01 00:31:13,2020-03-01 01:01:42,1,4,1,N,88,255,1,...,1,1,42,2020-03-01 01:01:42,2020,3,1,1,1,42
1,2,2020-03-01 00:08:22,2020-03-01 00:08:49,1,0,1,N,193,193,2,...,0,8,49,2020-03-01 00:08:49,2020,3,1,0,8,49
2,1,2020-03-01 00:52:18,2020-03-01 00:59:16,1,1,1,N,246,90,1,...,0,59,16,2020-03-01 00:59:16,2020,3,1,0,59,16
3,2,2020-03-01 00:47:53,2020-03-01 00:50:57,2,0,1,N,151,238,1,...,0,50,57,2020-03-01 00:50:57,2020,3,1,0,50,57
4,1,2020-03-01 00:43:19,2020-03-01 00:58:27,0,4,1,N,79,261,1,...,0,58,27,2020-03-01 00:58:27,2020,3,1,0,58,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969800,2,2020-03-31 23:18:36,2020-03-31 23:21:26,5,0,1,N,236,236,2,...,23,21,26,2020-03-31 23:21:26,2020,3,31,23,21,26
2969801,2,2020-03-31 23:39:18,2020-03-31 23:50:17,5,2,1,N,263,166,1,...,23,50,17,2020-03-31 23:50:17,2020,3,31,23,50,17
2969802,2,2020-03-31 23:24:48,2020-03-31 23:31:54,5,1,1,N,140,162,1,...,23,31,54,2020-03-31 23:31:54,2020,3,31,23,31,54
2969803,2,2020-03-31 23:41:03,2020-03-31 23:44:23,6,0,1,N,140,229,1,...,23,44,23,2020-03-31 23:44:23,2020,3,31,23,44,23
2969804,2,2020-03-31 23:57:09,2020-04-01 00:06:52,6,2,1,N,140,100,1,...,0,6,52,2020-04-01 00:06:52,2020,4,1,0,6,52